/* CSS declarations go here */
body {
}

div {
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

.clear {
	clear: both;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	width: 1164px;
	padding: 16px;
	overflow: hidden;
}

.header {
	width: 660px;
	height: auto;
	margin-left: 236px;
}

.inputdiv {
	width: 692px;
	margin-left: 236px;
	padding-top: 16px;
}

#noteInput {
	display: inline-block;
	width: 75%;
	margin-right: 10px;
}

#add-note-button {
	display: inline-block;
	float: right;
}

.allnotes {
	padding: 0;
	margin: 0;
}

.notebox {
	position: relative;
	float: left;
	padding: 16px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.1),
		inset 0 0 3px rgba(230,230,230,0.2);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.1),
		inset 0 0 3px rgba(230,230,230,0.2);
	box-shadow: 0 2px 8px rgba(0,0,0,0.1),
		inset 0 0 3px rgba(230,230,230,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.stickynote.notebox {
	display: block;
	margin-top: 16px;
	margin-right: 16px;
	height: 188px;
	width: 188px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	cursor: pointer;
}

.stickynote.notebox:nth-child(5n) {
	margin-right: 0;
}

.stickynote-date {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.stickynote-text {
	margin-top: 0.5em;
	font-size: 1.25em;
}

.yellowsticky {
	background-color: #FEFD99;
}
.pinksticky {
	background-color: #FEC2FC;
}
.bluesticky {
	background-color: #C2F2FE;
}
.greensticky {
	background-color: #CEFEC2;
}

/* media queries for responsiveness */

@media(max-width:1211px){
	#wrapper {
		width: 928px;
	}

	.header {
		width: 424px;
	}

	.stickynote.notebox {
		height: 188px;
		width: 188px;
	}
	.stickynote.notebox:nth-child(5n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(4n) {
		margin-right: 0;
	}
}

@media(max-width:985px){
	#wrapper {
		width: 688px;
	}

	.header {
		margin-left: 0;
		width: 656px;
	}

	.stickynote.notebox {
		height: 186px;
		width: 186px;
	}
	.stickynote.notebox:nth-child(4n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(3n) {
		margin-right: 0;
	}
}

@media(max-width:755px){
	#wrapper {
		width: 448px;
	}

	.header {
		margin-left: 0;
		width: 416px;
	}

	.stickynote.notebox {
		height: 184px;
		width: 184px;
	}
	.stickynote.notebox:nth-child(3n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(2n) {
		margin-right: 0;
	}
}

@media(max-width:515px){
	#wrapper {
		width: 288px;
	}

	.header {
		margin-left: 0;
		width: 256px;
	}

	.stickynote.notebox {
		width: 256px;
		height: auto;
	}
	.stickynote.notebox:nth-child(2n) {
		margin-right: 16px;
	}
}