/* CSS declarations go here */

html {
	height: 100%;
}

body {
	font-family: 'Exo 2', sans-serif;
	color: black;
	min-height: 100%;
}

div {
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

footer {
	position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
}


.clear {
	clear: both;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	width: 1036px;
	padding: 16px;
	overflow: hidden;
}

.header {
	width: 100%;
	float: center;
}

.header .header-title {
	width: 50%;
	display: block;
	float: left;
	text-align: center;
}

.header .heading-header {
	font-size: 3em;
	font-weight: bold;
}

.header .heading-info {
	font-size: 0.5em;
}

.header .header-links {
	width: 50%;
	display: block;
	float: left;
	padding-top: 10px;
}

.header .header-links a{
	font-size: 1.5em;
	height: 32px;
	margin-left: 40%;
	text-decoration: none;
	color: black;
}

.header .header-links a span {
	position: absolute;
	margin: -2px 0 0 -40px;
	height: 32px;
	width: 32px;
	background-image: url('GitHub-Mark-32px.png');
	background-repeat: no-repeat;
}

.header .header-links a:hover{
	color: #CCC;
}

.inputdiv {
	width: 100%;
	padding-top: 32px;
}


.add-note.button {
	background-color: #000;
	font-family: 'Exo 2', sans-serif;
}

.add-note.button:hover {
	background-color: #CCC;
}

.allnotes {
	padding: 0;
	margin: 0;
}

.notebox {
	position: relative;
	float: left;
	padding: 16px;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.4),
		inset 0 0 3px rgba(230,230,230,0.2);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.4),
		inset 0 0 3px rgba(230,230,230,0.2);
	box-shadow: 0 2px 8px rgba(0,0,0,0.4),
		inset 0 0 3px rgba(230,230,230,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.stickynote.notebox {
	display: block;
	margin-top: 16px;
	margin-right: 16px;
	height: 188px;
	width: 188px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	cursor: pointer;
}

.stickynote.notebox:nth-child(5n) {
	margin-right: 0;
}

.stickynote-date {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.7em;
	margin-bottom: 0.5em;
}

.stickynote-text {
	color: rgba(0, 0, 0, 0.75);
	margin-top: 0.5em;
	font-size: 1.1em;
}

.yellowsticky {
	background-color: #FEFD99;
}
.pinksticky {
	background-color: #FEC2FC;
}
.bluesticky {
	background-color: #C2F2FE;
}
.greensticky {
	background-color: #CEFEC2;
}

.push {
	height: 200px;
}
.footer-info {
	padding: 16px;
	color: white;
	height: 100px;
	background-color: black;
}

.socialmedia {
	width: 50%;
	float: left;
}

.socialmediaicons {
	display: inline-block;
	height: 70px;
	width: 70px;
	margin: 2px;
	
}

#fbicon {
	background-image: url('fb-icon.png');
	background-repeat: no-repeat;
}

#twittericon {
	background-image: url('twitter-icon.png');
	background-repeat: no-repeat;
}
#linkedinicon {
	background-image: url('linkedin-icon.png');
	background-repeat: no-repeat;
}
#githubicon {
	background-image: url('github-icon.png');
	background-repeat: no-repeat;
}

.attribution {
	padding-top: 32px;
	text-align: right;
	width: 50%;
	float: right;
	font-size: 0.75em;
}




/* media queries for responsiveness */

@media(max-width:1068px){
	#wrapper {
		width: 832px;
	}

	.stickynote.notebox:nth-child(5n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(4n) {
		margin-right: 0;
	}
}

@media(max-width:864px){
	#wrapper {
		width: 628px;
	}

	.stickynote.notebox:nth-child(4n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(3n) {
		margin-right: 0;
	}
}

@media(max-width:660px){
	#wrapper {
		width: 448px;
	}

	.stickynote.notebox {
		width: 200px;
		height: 200px;
	}

	.stickynote.notebox:nth-child(3n) {
		margin-right: 16px;
	}
	.stickynote.notebox:nth-child(2n) {
		margin-right: 0;
	}

	.footer-info {
		width: 100%;
		float: none;
		text-align: center;
	}
}

@media(max-width:515px){
	#wrapper {
		width: 288px;
	}

	.header .header-title {
		width: 100%;
		float: none;
	}

	.header .header-links {
		margin-top: 16px;
		width: 100%;
		float: none;
	}

	.stickynote.notebox {
		width: 256px;
		height: auto;
	}
	.stickynote.notebox:nth-child(2n) {
		margin-right: 16px;
	}

	.footer-info {
		width: 100%;
		float: none;
		text-align: center;
	}
}